.git/
.github/
#.gitignore
**/*.env*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# pnpm store
.pnpm-store/**

# output
**/*dist
**/*build
**/*public
out/
.next/

# misc
.DS_Store

**/*node_modules

# docker
docker-compose.override.yml
db_data

# custom esbuild artifact
**/*analyze

# eslint
**/*.eslintcache

# typescript
**/*.tsbuildinfo

# turbo
#.turbo

# wireit
#.wireit

# vercel
**/*.vercel

# test artifacts
**/*coverage
