coverage
.pnpm-store
generated/graphql.ts

/*dependencies*/
.pnp
.pnp.js
node_modules

/*next.js*/
.next/
out/

/*production*/
build
dist

/*misc*/
.DS_Store
*.pem

/*debug*/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

/*local env files*/
.env*.local
.env

/*vercel*/
.vercel

/*typescript*/
*.tsbuildinfo

/*docker pg*/
db_data

/*docker-compose*/
docker-compose.override.yml

/*Turborepo*/
.turbo/

# Lock files
pnpm-lock.yaml

**/icons/**
**/Icon/types.ts

